</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% const tahun = new Date() %>
  <% const year = tahun.getFullYear() %>
  
   <p>Copyright © <%= year %>  </p> 
</footer>
</body>

</html>