<%- include('partials/header.ejs') %>


<div class="form1">
<div class="form">
<h1>Please insert your full name</h1>
<form action="submit" method="post" class="formname">
    <div class="input-box">
    <input type="text" name="fname" id="tname" placeholder="Name" required>
    </div>

    <input type="submit" value="ok" id="submit">
</form>
</div>
</div>

<%- include('partials/footer.ejs') %>